.full_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    box-sizing: border-box;
    overflow: hidden;
    /* width: 100vw; */
    max-width: 100vw;
    /* height: 100vh; */
}

.d_none {
    display: none !important;
}

.p_10 {
    padding: 10px;
}

.c_w {
    color: white;
}

input {
    outline: none;
}

p {
    margin: 0px;
}

.section_mt {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.c_b {
    color: black;
}